.footer {
  position: fixed;
  bottom: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 2rem);
  margin-inline: 1rem;
  @media (max-width: 576px) {
    justify-content: flex-end;
  }

  &__source-code {
    font-weight: 400;
    font-size: var(--footer-font-size);
  }

  &__help {
    width: 60px;
    height: 22px;
  }
}
